@charset "utf-8";
/* CSS Document */

#header {behavior:url(img/PIE.htc);}
#header .llist ul {behavior:url(img/PIE.htc);}
.box {position:relative;border-radius:5px;box-shadow: 0 1px 1px #bbb;behavior:url(img/PIE.htc);}

.col a {position:relative;behavior:url(img/PIE.htc);}
.col ul li em {position:relative;behavior:url(img/PIE.htc);}
.col ul li .disabled {position:relative;behavior:url(img/PIE.htc);}
.col.black a {border:1px solid #555;}
.col.black ul li .disabled {border:1px solid #555;}

#about .about_container {box-shadow:0 -5px 5px #333;behavior:url(img/PIE.htc);}
#about .about_container .nav_one {behavior:url(img/PIE.htc);}

.homepage_nav li {position:relative;behavior:url(img/PIE.htc);}

.message_option li {position:relative;behavior:url(img/PIE.htc);}
.message .comment .body {position:relative;behavior:url(img/PIE.htc);}

#kind_page .container .category_t .search_b_bar {position:relative;behavior:url(img/PIE.htc);}

.kind_show_right .selected {position:relative;behavior:url(img/PIE.htc);}
.photo_thumb img {box-shadow:0 2px 10px rgba(0,0,0,1);position:relative;behavior:url(img/PIE.htc);}

#userbar .user_option {position:relative;box-shadow:0px 1px 1px #bbb;behavior:url(img/PIE.htc);}

.camera_list .list_one {position:relative;box-shadow:0 1px 1px #bbb;behavior:url(img/PIE.htc);}

#login_wrapper .container .loginbtn {position:relative;behavior:url(img/PIE.htc);}

.avatar img {position:relative;box-shadow:1px 1px 2px #111;behavior:url(img/PIE.htc);}
.message .avatar img {position:relative;box-shadow:1px 1px 2px #888;behavior:url(img/PIE.htc);}
.message .message_list_top .send_receive.select {position:relative;behavior:url(img/PIE.htc);}

.height400 {position:relative;box-shadow:0 1px 1px #bbb;behavior:url(img/PIE.htc);}

.person_first_index .right .avatar img {position:relative;behavior:url(img/PIE.htc);}
.person_first_index .right .works li img {position:relative;behavior:url(img/PIE.htc);}

#personal_page .person_info {box-shadow:0 0 5px #111;behavior:url(img/PIE.htc);}
.message {position:relative;box-shadow:0 1px 1px #bbb;behavior:url(img/PIE.htc);}
.message.ps_msg {position:relative;box-shadow:0 1px 1px #000;behavior:url(img/PIE.htc);}

#pic_wrapper .main_pic_wrap {position:relative;behavior:url(img/PIE.htc);}
#container .main_pic {border-radius:5px 5px 0 0;position:relative;behavior:url(img/PIE.htc);}
#container #main_pic {position:relative;border-radius:0;behavior:url(img/PIE.htc);}
#comment {behavior:url(img/PIE.htc);}

#kind_page .container .category_t .pho_pho.selected {position:relative;behavior:url(img/PIE.htc);}

.person_first_index .right .random {behavior:url(img/PIE.htc);}
.person_first_index .right .random:hover {behavior:url(img/PIE.htc);}









#uploading {position:relative;behavior:url(img/PIE.htc);}
.ul_done_one {position:relative;behavior:url(img/PIE.htc);}
.pic_upload_done img, .load_bar {}
#uploading .ul_one {position:relative;box-shadow:1px 1px 3px #aaa !important;behavior:url(img/PIE.htc);}
#upload_menu dt {position:relative;behavior:url(img/PIE.htc);}
.uploading .button {position:relative;box-shadow:0 1px 3px #ccc;behavior:url(img/PIE.htc);}
